@charset "UTF-8";

#interactive.viewport {
  width: 640px;
  height: 480px;
}

/* line 6, ../sass/_viewport.scss */
#interactive.viewport canvas, video {
  float: left;
  width: 640px;
  height: 480px;
}
/* line 10, ../sass/_viewport.scss */
#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -640px;
}

/* line 16, ../sass/_viewport.scss */
.controls fieldset {
  border: none;
}
/* line 19, ../sass/_viewport.scss */
.controls .input-group {
  float: left;
}
/* line 21, ../sass/_viewport.scss */
.controls .input-group input, .controls .input-group button {
  display: block;
}
/* line 25, ../sass/_viewport.scss */
.controls .reader-config-group {
  float: right;
}
/* line 28, ../sass/_viewport.scss */
.controls .reader-config-group label {
  display: block;
}
/* line 30, ../sass/_viewport.scss */
.controls .reader-config-group label span {
  width: 11rem;
  display: inline-block;
  text-align: right;
}
/* line 37, ../sass/_viewport.scss */
.controls:after {
  content: '';
  display: block;
  clear: both;
}



/* line 7, ../sass/_overlay.scss */
.scanner-overlay {
  display: none;
  width: 640px;
  height: 510px;
  position: absolute;
  padding: 20px;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -340px;
  background-color: #FFF;
  -moz-box-shadow: #333333 0px 4px 10px;
  -webkit-box-shadow: #333333 0px 4px 10px;
  box-shadow: #333333 0px 4px 10px;
}
/* line 20, ../sass/_overlay.scss */
.scanner-overlay > .header {
  position: relative;
  margin-bottom: 14px;
}
/* line 23, ../sass/_overlay.scss */
.scanner-overlay > .header h4, .scanner-overlay > .header .close {
  line-height: 16px;
}
/* line 26, ../sass/_overlay.scss */
.scanner-overlay > .header h4 {
  margin: 0px;
  padding: 0px;
}
/* line 30, ../sass/_overlay.scss */
.scanner-overlay > .header .close {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 16px;
  width: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}


@media (min-width: 604px) and (max-width: 1024px) {
  /* tablet styles */
}
@media (max-width: 603px) {
  /* line 2, ../sass/phone/_core.scss */
  #container {
    width: 300px;
    margin: 10px auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 9, ../sass/phone/_core.scss */
  #container form.voucher-form input.voucher-code {
    width: 180px;
  }
}
@media (max-width: 603px) {
  /* line 5, ../sass/phone/_viewport.scss */
  #interactive.viewport {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  /* line 11, ../sass/phone/_viewport.scss */
  #interactive.viewport canvas, video {
    margin-top: -50px;
    width: 300px;
    height: 400px;
  }
  /* line 15, ../sass/phone/_viewport.scss */
  #interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -300px;
  }

  /* line 20, ../sass/phone/_viewport.scss */
  #result_strip {
    margin-top: 5px;
    padding-top: 5px;
  }
  /* line 24, ../sass/phone/_viewport.scss */
  #result_strip ul.thumbnails > li {
    width: 150px;
  }
  /* line 27, ../sass/phone/_viewport.scss */
  #result_strip ul.thumbnails > li .thumbnail .imgWrapper {
    width: 130px;
    height: 130px;
    overflow: hidden;
  }
  /* line 31, ../sass/phone/_viewport.scss */
  #result_strip ul.thumbnails > li .thumbnail .imgWrapper img {
    margin-top: -25px;
    width: 130px;
    height: 180px;
  }
}
@media (max-width: 603px) {
  /* line 8, ../sass/phone/_overlay.scss */
  .overlay.scanner {
    width: 640px;
    height: 510px;
    padding: 20px;
    margin-top: -275px;
    margin-left: -340px;
    background-color: #FFF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 17, ../sass/phone/_overlay.scss */
  .overlay.scanner > .header {
    margin-bottom: 14px;
  }
  /* line 19, ../sass/phone/_overlay.scss */
  .overlay.scanner > .header h4, .overlay.scanner > .header .close {
    line-height: 16px;
  }
  /* line 22, ../sass/phone/_overlay.scss */
  .overlay.scanner > .header .close {
    height: 16px;
    width: 16px;
  }
}


/* line 51, ../sass/styles.scss */
#container {
  width: 640px;
  margin: 20px auto;
  padding: 10px;
}
